/* Typographie */

*, *:after, *::before {
    box-sizing: border-box;
}

:root {
    --main-color: #E5E5E5;
    --link-color: #008AD8;
    --text-color: #565656;
}

body {
    margin: 0;
    background: var(--main-color);
    font-family: 'Lexend Deca', sans-serif;
}

.container {
    margin: 2.8em;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* Header */

h1 {
   margin-bottom: 0;
}

.headings p {
    font-size: 1.125rem;
    color: var(--text-color);
}

.options {
    position: relative;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.menu {
    cursor: pointer;
    margin: 0 .5em;
}

.search {
    border-radius: 2em;
    border: none;
    padding: .8em;
    background: white url('./assets/search.svg') no-repeat right .8em center;
    width: 100%;
}

.search:focus {
    outline: thin dotted;
}

 .labels {
    display: none;
}

.filter {
    position: absolute;
    background: white;
    top: 3em;
    right: 1em;
    padding: 2em 1.5em;
    border-radius: 6px;
    box-shadow: 11px 18px 54px rgba(0,0,0, .11);
    clip-path: circle(0% at 100% 0%);
    transition: clip-path .3s ease-in-out;
}

.chk-container {
    margin-bottom: 1.125em;
    position: relative;
}

.chk-container:last-of-type {
    margin-bottom: 0;
}

/* Main */

.card, .labels  {
    margin: -1em -1em 2em;
    border-radius: 6px;
    padding: 1em;
}

.card:hover, .card:focus {
    background: white;
}

.description {
  font-size: 1.375rem;
}

.location {
  font-size: 1.125rem;
  color: #686868;
}

.cols-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 1.5rem;
    margin: 0;
}

.far, .fas {
   cursor: pointer;
}

/* Styling checkbox */

.input_checkbox {
    -webkit-appearance: none;
    appereance: none;
    position: absolute;
}

 .label_checkbox {
    padding-left: 25px;
    cursor: pointer;
} 

.label_checkbox:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background .1s linear, border .1s linear;
}

.label_checkbox:after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: url('./assets/check.svg') no-repeat;
    background-size: 10px 10px;
    opacity: 0;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;
    transition: opacity .1s linear;
}

.input_checkbox:checked + .label_checkbox:before {
    background-color: black;
}

.input_checkbox:checked + .label_checkbox:after {
    opacity: 1;
}


/* Media */

@media only screen and (min-width: 900px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .labels {
        display: block;
        background: var(--link-color);
        font-size: 0.875rem;
        color: white;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 40% 30% 20% auto;
        padding: .2em 1em;        
    }
    
    .card {
        display: grid;
        grid-template-columns: 40% 30% auto;
    }
    
    .far, .fas {
        margin-right: 1.6em
    }
    
    .icons {
        margin-bottom: 0;
    }
    
    .headings p {
        margin: .5em 0 3em;
    }
    
    .location {
        margin: 0;
    }
}